.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.cont{
  background-color: #B89F79;
  border-radius: 500px;
  width: 6vw;
}

.size{
  font-size: 18px;
}

.resize{
  padding-top: 1.5vh;
  padding-right: 0.6vh;
}