.thin{
  font-weight: 300;
}

.x-thin{
  font-weight: 100;
  font-size:initial;
}

.resa-user{
  border-radius: 3%;
  background-color: #efefef;
  margin: 1vh;
  padding: 1vh;
  overflow: scroll;
  max-height: 87vh;
}

.font-size-medium{
  font-size: medium;
}