.card-trip_show {
  border-radius: 3%;
  min-height: 80vh;
  height: auto;
}

.card-trip_show > img {
  height: 60vh;
  width: 100%;
  object-fit: cover;
  border-radius: 3%;
}

.colored-border-bottom {
  border-bottom: 2px solid #b4b4b4; /* Remplacez #000 par la couleur de votre choix */
  margin-bottom: 10px; /* Ajustez la marge inférieure selon vos besoins */
}

.reservation-box{
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 10px;
  margin-bottom : 1rem;
}

.espace{
  margin-left: 1rem !important;
  margin-top: 0.2rem;
}

#booking_start_date{
  border-radius: 15px;
  color: #a9a9a9;
}

#booking_end_date{
  border-radius: 15px;
  color: #a9a9a9;
}

.resa-button{
  border-radius: 20px;
  width: 12vw;
  text-decoration: none;
  background-color: #7A9A8D;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.342), rgba(255,255,255,0));
  padding: 10px 20px; /* Ajustez le rembourrage selon vos besoins */
  color: white; /* Couleur du texte */
  border: none; /* Supprimer la bordure si nécessaire */
  cursor: pointer; /* Style du curseur au survol */
  font-size: 16px;
  transition: background-color 0.7s ease;
  &:hover {
    background-color: #60796f
  }
}

.delete-button{
  width: 12vw;
  border-radius: 20px;
  text-decoration: none;
  background-color: #7A9A8D;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.314), rgba(255,255,255,0));
  padding: 10px 20px; /* Ajustez le rembourrage selon vos besoins */
  color: white; /* Couleur du texte */
  border: none; /* Supprimer la bordure si nécessaire */
  cursor: pointer; /* Style du curseur au survol */
  font-size: 16px;
  transition: background-color 0.7s ease;
  &:hover {
    background-color: rgb(255, 161, 148)
  }
}

.colored-border-right {
  border-right: 1px solid #b4b4b4;

}