.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 300px;
  margin-bottom: 3vh;
  border-radius: 3%;
  transition: background-color 0.3s, color 0.3s;
}

.card-trip:hover {
  background-color: #6D5B43;
  color: white;
}


.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limite le nombre de lignes à afficher */
  -webkit-box-orient: vertical;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alignez le contenu en haut */
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  object-fit: cover;
  border-radius: 50%;
  right: 16px;
  top: -20px;
  width: 40px;
  height: 40px;
}
